@font-face {
  font-family: "Liberation Serif";
  src: url("./fonts/liberation-serif/LiberationSerif-Regular.ttf");
}
html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 60rem;
  margin: 1rem 2rem;
  min-height: calc(100vh - 2rem);
  font-family: "Liberation Serif", serif;
  font-size: 1.2rem;
  background-color: #fff8e3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  text-align: center;
  font-size: .9em;
}

h1 {
  text-align: center;
  font-variant-caps: small-caps;
}

#rsvp {
  background-color: #e3f8ff;
}

#rsvp h2 {
  margin-bottom: 0;
}

a {
  color: inherit;
}

#homepage main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#homepage img {
  height: 15rem;
}

#homepage p {
  max-width: 40rem;
}

#tabs {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  top: 3rem;
}

#tabs a {
  text-decoration: none;
  padding: 0 0.5rem;
  cursor: pointer;
}

#tabs a:hover {
  border-bottom: solid black 0.1rem;
  font-weight: 500;
}

#tabs a:active {
  border-bottom: solid black 0.15rem;
  font-weight: bold;
}

h2 {
  margin: 1.5rem 0;
  font-size: 2.2rem;
  font-variant-caps: small-caps;
}

.home-link {
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  margin-right: 1rem;
}

#color-pallet {
  display: grid;
  grid-template-columns: repeat(6, 7rem);
  justify-content: center;
  margin: 0.5rem auto;
  width: min-content;
  outline: solid white 0.3rem;
}

@media (orientation: portrait) or (max-width: 43rem) {
  #color-pallet {
    grid-template-columns: repeat(3, min(5rem, 32vw));
  }
}

#color-pallet > div {
  aspect-ratio: 1/1;
}

.gallery-images {
  display: flex;
  justify-content: center;
}

.gallery img {
  display: none;
  max-height: 14rem;
  max-width: 90vw;
}

.gallery .selected {
  display: inline-block;
}

.gallery {
  display: grid;
  grid-template-columns: 5rem 10rem 5rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  min-height: 14rem;
}

@media (max-width: 25rem) {
  .gallery {
    grid-template-columns: unset;
  }
}

.gallery button {
  font-size: 2.5rem;
  color: inherit;
  background: none;
  border: none;
  touch-action: manipulation;
}

.gallery button:hover {
  cursor: pointer;
}

@media (min-width: 47rem) {
  #location #map {
    float: right;
    margin: 1rem;
    aspect-ratio: 1/1;
    height: 60vh;
  }
}

#us .content {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

#us .content > img {
  flex: 1;
  max-width: 15rem;
  object-fit: contain;
}
